# boxmaker.sh configuration file

# Build configuration
export MAINTAINER="G Naumov <george.naumov@abv.bg>"
export BASELIST="system"
export EXTRALIST="
"

# Don't change anything below this line
export ARCH="x86_64"
export TARGET="$ARCH-box-linux-musl"
export HOST="$ARCH-cross-linux-musl"
export DEFDIR=$(pwd)
export SRC="$DEFDIR/sources"
export WORKING="/tmp/working"
export OUTPUT="$DEFDIR/output"
export LOGS="$DEFDIR/logs"
export ROOTFS="/tmp/rootfs"
export CONFIG="$DEFDIR/config"
export BUILDID=$(date +%Y%m%d%H%M%S)
export DEFPATH="/usr/bin:/usr/sbin:/bin:/sbin"
export MAKEFLAGS=-j$(nproc) 
